	<div class="row">
		<div class="col-md-12 text-center">
			<h1 style="font-size: 2.5rem; font-weight: 500; padding-top:70px">Visualization Menu</h1>
		</div>
	</div>

<div class="container pt-3">
	<div class="row">
		<div class="col-md-5">
		<div class="container shadow text-center outline-dark  mb-5 pt-3 mt-5">
			 <a href="http://127.0.0.1:8000/main/?#Visualization" class="a1 lnk ">MAP</a><hr>
		<a href="{% url 'p1' %}" class="a1 lnk "> Plot For Analyzing Different Cases Of A Specified State For 2020-2021</a><hr>
		<a href="{% url 'p2' %}" class="a1 lnk pt-2">Plot For Analyzing Different Cases Of A Specified State For A Specified Year</a><hr/>
		<a href="{% url 'p3' %}" class="a1 lnk pt-2">Plot For Analyzing Different Cases Of A Specified State For A Specified Month Of A Specified Year</a><hr/>
		<a href="{% url 'p4' %}" class="a1 lnk pt-2"> Plot For Analyzing Cases of A State Within A Given Span Of Months And Specified Year </a><hr/>
		<a href="{% url 'p5' %}" class="a1 lnk pt-2"> Plot For Analyzing Comparison of different states for selective years as per case status upto 10 states </a><hr/>
		<a href="{% url 'p6' %}" class="a1 lnk pt-2"> Plot For Analyzing Comparison of two different states for all years as per case status </a><hr/>
		<a href="{% url 'p7' %}" class="a1 lnk pt-2"> Plot For Analyzing Comparison of 2 different states for month slots for specified year </a><hr/>

		</div>
		</div>

<div class="col-md-2"></div>